[Unit]
Description=Vault Server
After=network.target docker.service
Requires=docker.service

[Service]
User=root
Group=root

# Working directory for Vault
WorkingDirectory={{VAULT_WORKDIR}}

# Vault address for scripts
Environment=VAULT_ADDR=http://127.0.0.1:8200

# Start Vault server
ExecStart={{VAULT_BIN}} server -config={{VAULT_WORKDIR}}/vault.hcl

# Restart if Vault crashes
Restart=on-failure
RestartSec=10s
LimitNOFILE=65536

# Optional logging
StandardOutput=append:/var/log/vault.log
StandardError=append:/var/log/vault.err.log

[Install]
WantedBy=multi-user.target
